<!DOCTYPE html>
<html lang="en">

<head>
    <title>password checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url("/static/3.jpg");
            background-color: darkgrey;
        }
    </style>
</head>

<body>
    <ul class="nav justify-content-center" style="background-color:lightgray">
        <div class="text-center">
            <h3> <a class="nav-item text-center" href="http://127.0.0.1:5000" style="color:brown">Home Page</a></h3>
        </div>
    </ul>
    {% block contents %} <br> <br> <br> <br>{% endblock %}
</body>

</html>